.bg-skew {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: skewY(-5deg);
      transform-origin: top left;
      z-index: -1;
    }
  }
  
  .bg-skew-light:before {
      background-color: $secondary-light;
  }
  
  .btn {
    font-size: 16px;
    outline: none !important;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  .btn-primary {
    transition: $transition-primary;
    color: #fff;
    padding: .875rem 1.5rem;
    font-weight: 700;
    background-color: $primary-light;
    border: $primary-light;
    border-color: $primary-light;
    box-shadow: $box-shadow-primary;
    &:hover, &:focus, &:active, &:visited {
      background-color: $primary !important;
      box-shadow: $box-shadow-hover;
      outline: none !important;
    }
  }

  .card {
    box-shadow: $box-shadow-primary;
    transition: $transition-primary;
    border: #fff;
    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }

  .icon-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
  .hr-rule {
    width: 3rem;
    border-top-width: 2px !important;
    margin-bottom: 46px;
  }
  
  .border-secondary {
    border-top-color: $primary !important;
  }
  
  .btn-pill {
    border-radius: 10rem;
  }
  
  .img-thumbnail {
      box-shadow: $box-shadow-primary;
  }