// COLORS
$primary: #5e35b1;
$primary-light: #9162e4;
$primary-dark: #280680;
$primary-text: #fff;

$secondary: #2196f3;
$secondary-light: #6ec6ff;
$secondary-dark: #0069c0;
$secondary-text: #000000;

$text-primary: #343a40;

// BOX SHADOW
$box-shadow-primary: 8px 10px 20px 0 rgba(46,61,73,.15);
$box-shadow-hover: 2px 4px 8px 0 rgba(46,61,73,.2);


// TRANSITION
$transition-primary: all 0.3s ease;