// COLORS
$primary: #5e35b1;
$primary-light: #9162e4;
$primary-dark: #280680;



$secondary: #1976d2;
$secondary-light: #2196f3;
$secondary-dark: #0d47a1;
$secondary-text: #2d2d2d;

$text-primary: #343a40;

// BOX SHADOW
$box-shadow-primary: 8px 10px 20px 0 rgba(46,61,73,.15);
$box-shadow-hover: 2px 4px 8px 0 rgba(46,61,73,.2);
$header-shadow: 0 1px 20px 0 rgba(46,61,73,.2);


// TRANSITION
$transition-primary: all 0.5s ease;